* {
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
    padding: 10px;
}

.tozee {
    margin: 0 -10px;
    padding: 10px;
}

.tozee--overflow {
    height: 200px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.tozee h2 {
    margin: 1em 0 .5em;
    font-size: 14px;
}

.tozee ul.tozee__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
